card_width = 5rem
card_height = 7rem

.play-table
  height 100%
  background-color #45a173

  .control-wrapper
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    button
      background-color #334d41
      border-color #15201B
      &:hover
        border-color #444D49
        background-color #5C7167
        color lightgrey
      &.shuffle-btn
        margin-right 15px

  .deck-wrapper
    position absolute
    top 25%
    left 0
    right 0
    margin auto
    display: flex;
    justify-content: center;
    align-items: center;

    .deck
      background-color white
      border-radius 5px
      display flex
      justify-content center
      align-items center
      cursor pointer
      margin auto
      width card_width
      height card_height
      background-image url("../img/back.png")
      background-position 50% 50%
      -webkit-background-size 100% 100%
      -moz-background-size 100% 100%
      background-size 100% 100%
      background-repeat no-repeat
      -webkit-transition: -webkit-transform .8s ease-in-out;
      -ms-transition: -ms-transform .8s ease-in-out;
      transition: transform .8s ease-in-out
      &.shuffling
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);

      .counter
        display none
        font-size 3rem

  .play-card-wrapper
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;